body {
  font-family: 'Inter', sans-serif;
  color: #333333;
  .brand-icon {
    font-family: 'Sarina', cursive;
    color: #333333;
  }
  h1.brand-icon {
    font-size: 2.7rem;
  }
  .hero .title {
    font-family: 'Crimson Pro', serif;
    color: inherit;
    font-size: 4rem;
  }
}
